body
{
background-image: url(../img/cherry.jpg);
background-size: cover;
background-repeat: no-repeat;
font-family: "微軟正黑體";
text-align: center;
}
div.memberlogo
{
text-align: center;
padding: 0% 3%;
}
div.memberbutton
{
	position:relative;
	bottom:0%;
	width:100%;
background-color:rgba(63,63,63,1);
padding: 3%;
text-align: center;
margin: 1% 0% 0% 0%;
}
img.memberlogo
{
width: 25%;
height: 25%;
border-radius: 50%;
border:1em  #FFC8B4 inset;
margin: 8% 10% 2% 10%;
}
.clearfix:after /*讓圖片浮動後不脫離背景*/
{
content:".";
display: block;
height: 0;
clear:both;
visibility: hidden;
}
.button {
display: inline-block;
padding: 12px 23px;
margin: 0% 1% 0% 1%;
font-size: 20px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #FF8888;
border: none;
border-radius: 15px;
box-shadow: 0 8px #FFA488;
}
.button:hover {background-color:#FF5511}
.button:active {
color: #fff;
background-color:#880000 ;
box-shadow: 0 5px 	#A42D00;
transform: translateY(4px);
}
input.change_file
 {
  width: 30%;
  height:2%;
  padding: 10pt 8pt;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #de4458;
  box-sizing: border-box;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container {
  padding: 16px;
  text-align:center;
}
.mem_modal {
  display: none; /* 隱藏 */
  position: fixed; /* 固定 */
  z-index: 1; /* 浮在上面 */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); /*設定透明度*/
  padding-top: 60px;
}
.mem_modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
  background-color:rgba(255,255,255,0.8); 
}
.list
{
	text-align:center;
	border:2pt outset #FFF0F5;
	width:100%;
	margin:0% 0% 2% 0%;
}
thead
{
	background-color:#FFE4E1;
}
h1
{
color:#880000;
font-weight: bold;
}
label
{
font-weight: bold;
}
